button, input {
  padding: .5em;
  margin: .5em;
}
.cardName {
  word-wrap: break-word;
  min-height: 1em;
  font-size: 1.5em;
}
.cardName:empty::before {
  content: "";
  display: inline-block;
}
.pixelated {
  image-rendering: pixelated;
}
table {
  width: 100%;
}