:root {
  --card-bg: #2e2f30;
  --bg: #2c2c31;
  --fg: #ebe9e9;
  
  margin: 1em;
}

.deck {
  display: flex;

  border-radius: 1em;

  background-color: #050508;
  opacity: 0.8;
  background-size: 16px 16px;
  background-image:  repeating-linear-gradient(0deg, #1c192c, #1c192c 0.8px, #050508 0.8px, #050508);
}