:root {
  --card-bg: #2e2f30;
  --bg: #2c2c31;
  --fg: #ebe9e9;
  --accent: #61c454;
  
  margin: 1em;
}

.cardPanelRoot {
  display: flex;
  gap: 1em;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 1em;
  background-color: #050508;
  opacity: 0.8;
}

.cardPanel {
  width: 100%;
  background-color: #050508;
  border-radius: 1em;
  padding: 1em;
}